* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(240, 240, 180);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 100 dvh ->  */
/* d -> device(dispositivo)
v-> view(vista)
h->height(altura) */
img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  background: red;

  p {
    display: flex;
    flex-direction: column;
    align-self: center
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 0.5rem;
    }
  }
}

footer {
  background: greenyellow;
}


/* .contenedor-ejemplo {
  display: flex;
  flex-direction: column;
} */
